@{
    ViewData["Title"] = "Directory not found";
}

<div class="alert alert-danger" role="alert">
  <h4 class="alert-heading">Oops...</h4>
  <p>You are trying to let us show you a directory that doesn't exist, why do you come here? <a class="alert-link" asp-controller="Files" asp-action="Directory">Click here to go to hom page</a></p>
  <hr>
  <p class="mb-0">You should ask the manager of the website if you believe it should be exist</p>
</div>
